body {
    color: white;
    background-color: #ECD87F;background-image: url(https://www.seoclerk.com/pics/want10687-14TZRq1388844023.jpg);
}
header{
    background: #170A1A;
    color: white;
}
footer{
    background: #170A1A;
    color: white;

}
header.headertop {
    height: 80px;
    padding-left: 5px;
    padding-right: 5px;

}
header.headerleft {
    height: 50px;
}

header.headerright1 {
    height: 50px;
}

header.headerright2 {
    height: 35px;
}

header.headerright3 {
    height: 35px;
}
section.section1 {
    float: left;
    height: 550px;
    background-color: brown;
    margin-top: 5px;
    width:30%;
    padding-left: 5px;
    padding-right: 5px;
}
section.section2 {
    float: right;
    height: 550px;
    background-color: brown;
    width:68%;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
}
footer.lastfooter {
    margin-top: 5px;
    height: 30px;
}
footer.footerleft {
    margin-top: 10px;
    height: 50px;
}
footer.sec2ar1footer {
    height: 35px;
    margin-top: -5px;
}
footer.sec2ar2footer {
    height: 35px;
    margin-top: 52px;
}
footer.sec2footer {
    margin-top: 9px;
    height: 50px;
}
p {
    background-color: floralwhite;
}

p.sec2p1 {
    height: 35px;
    margin-top: 10px;
}

p.sec2p2 {
    height: 35px;
    margin-top: -5px;
}

p.sec2ar2p1 {
    float: left;
    height: 85px;
    width: 64%;
    margin-top: 10px;
}

nav {
    background-color: #333;
}
nav.nav1 {
    height: 404px;
    margin-top: 10px;
    padding:0;
}
nav.navtop {
    margin-top: -10px;
    height: 50px;
    background-color: #1F7273;
}
article.article1{
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 200px;
    background-color: #1F7273;
}
article.article2{
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    height: 200px;
    background-color: #1F7273;
}
aside {
    float: right;
    background-color: floralwhite;
    width: 35%;
    height: 85px;
    margin-top: 10px;
}
#searchbox {
    background-color: #eaf8fc;
    background-image: linear-gradient(#fff, #d4e8ec);
    border-radius: 35px;
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;
    width: 16.2%;
    height: 23px;
    padding: 8px;
    margin-top: -45px;
    margin-left: 3px;
    overflow: hidden; /* Clear floats */
    float: left;
}

ul.ultop {
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
    background-color: #1F7273;
    font-family: "Trebuchet MS";
}
ul.ultop li {
    float: right;
}

ul.ultop li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul.ultop li a:hover {
    background-color: #555;
}

ul.leftnav {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 100%;
    background-color: #1F7273;
    font-family: "Trebuchet MS";
}

li a {
    display: block;
    color: #000;
    padding: 6.9px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

.newScrollBar {
    scrollbar-3dlight-color: #4FBDDD;
    scrollbar-arrow-color: #EEE1AE;
    scrollbar-darkshadow-color: #000000;
    scrollbar-face-color: #A0CCE0;
    scrollbar-highlight-color: #F8F2DC;
    scrollbar-shadow-color: #176F99;
    scrollbar-track-color: #fa978f;

    overflow: scroll;
    width: 100%;
    height: 83px;
    border: 1px solid #cccccc;
}